/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	color: black;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	color: black;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(./images/IMG_0847.jpg) 50% 0 no-repeat fixed;
	color: grey;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#second{
	background: url(./images/4.JPG) 50% 0 no-repeat fixed;
	color: black;
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

/*#second .bg{
	background: url(images/trainers.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}*/

#third{
	background: url(./images/IMG_1119.JPG) 50% 0 no-repeat fixed;
	color: black;
	height: 650px;
	padding: 100px 0 0 0;
}

#fifth{
	background: url(./images/20130523_214045.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	height: 400px;
	margin: 0 auto;
	padding: 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 500px;
	/*background: #efefef;*/
	/*background: -moz-linear-gradient(center top, #f3f3f3, #999999);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#999999));
  background:  -o-linear-gradient(top, #f3f3f3, #999999);*/
	/*opacity: 0.8;*/
  background:rgb(239,239,239);
	background: transparent\9;
	background:rgba(239,239,239,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66efefef,endColorstr=#66efefef
}
.story .float-left, .story .float-right:nth-child(n) {
	filter: none;
}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: grey;
}
