body {
  padding-top: 50px;
}
.starter-template {
  padding: 0px 15px;
  text-align: center;
}

.previewImages{
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  width: 400px;
  height: 400px;

}

#previewBox {
  padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}


.previewWindow{
	padding: 0px 0px;
  /*text-align: left;*/
  position: relative;
  width: 400px;
  height: 400px;
}

#selectors{
	 padding: 10px 10px;
	 text-align: left;
   width: 200px;
}

#content{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#project_row_left{
  max-width:600px;
  min-width: 300px;
  margin: 0px auto;
  align: center;
  float: left;
}

#project_row_right{
  max-width:600px; 
  min-width: 300px;
  margin: 0px auto;
  align: center;
  float: right;

}

.project_window{
  height: 250px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 0px;
}

#imgBlurred{
	filter: blur(200px);
}